body {
    text-align: center;
    font-family: sans-serif;
}

ul {
    padding: 0;
}

#js-fsg-filedrag {
    display: none;
    cursor: pointer;
    background-color: #aaa;
    -moz-box-shadow: inset 0 0 5px rgba(0,0,0,0.3);
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.3);
    -ms-box-shadow: inset 0 0 5px rgba(0,0,0,0.3);
    box-shadow: inset 0 0 5px rgba(0,0,0,0.3);
    padding: 20px;
    opacity: .5;
    font-size: 12px;
    font-weight: bold;
    outline: none;
    width: 100px;
    height: 100px;
    vertical-align: middle;
    border: 0;
    box-shadow: inset 0 0 0 1px rgba(0,0,0,0.4);
}

#js-fsg-filedrag:hover {
    background: #ddd;
    box-shadow: inset 0 0 5px rgba(0,0,0,0.3);
}

#js-fsg-filedrag.dragover {
    background: yellow;
}

#js-fsg-filedrag span {
    font-size: 50px;
    display: block;
    font-weight: 200;
    margin-bottom: 10px;
}

.copyright {
    margin-top: 10px;
    font-size: 10px;
}
